@import './stylesheets/main';

:global {
  html,
  body,
  #root {
    @apply antialiased;
    @apply font-sans;

    scroll-behavior: smooth;

    background-color: $md-grey-900;
    color: $md-light-text-primary;
  }
}
